<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body id="grid-container">
        <header>
            <ul>
                <li><a href="http://127.0.0.1:5000/books"><h1>Home</h1></a></li>
            </ul>
        </header>
        <hr/>
        {%block content%}{%endblock%}
    </body>
</html>